In [2]:
import pandas as pd
df_train = pd.read_csv('/Users/anubhanagar/Desktop/Fall_2022_Vandy/ML 2/nlp-getting-started/train.csv')
df_train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [3]:
df_test = pd.read_csv('/Users/anubhanagar/Desktop/Fall_2022_Vandy/ML 2/nlp-getting-started/test.csv')
df_test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [7]:
X_train = df_train.iloc[: , :-1]
y_train = df_train.iloc[:,-1:]

In [8]:
X_test = df_test.iloc[: , :-1]
y_test = df_test.iloc[:,-1:]

In [14]:
X_train.shape

(7613, 4)

In [15]:
X_train_text = df_train['text']

In [24]:
# Import LabelEncoder
from sklearn import preprocessing
#creating labelEncoder
le = preprocessing.LabelEncoder()
# Converting string labels into numbers.
text_encoded =le.fit_transform(X_train_text)
text_encoded

array([5102, 3391, 2322, ..., 4564, 5270, 6094])

In [25]:
le.classes_

array(['! Residents Return To Destroyed Homes As Washington Wildfire Burns on http://t.co/UcI8stQUg1',
       '# handbags Genuine Mulberry Antony Cross Body Messenger Bag Dark Oak Soft Buffalo Leather:  å£279.00End Date: W... http://t.co/FTM4RKl8mN',
       "#360WiseNews : China's Stock Market Crash: Are There Gems In The Rubble? http://t.co/9Naw3QOQOL",
       ...,
       'å¤} New Ladies Shoulder Tote #Handbag Faux Leather Hobo Purse Cross Body Bag #Womens http://t.co/UooZXauS26 http://t.co/6MGBizjfgd RT en\x89Û_',
       "å¬'Only the sea knows how many are dead' @MSF_Sea after last disaster in #Mediterranean turned into a massgrave  http://t.co/m0utLDif77",
       'åÈMGN-AFRICAå¨ pin:263789F4 åÈ Correction: Tent Collapse Story: Correction: Tent Collapse story åÈ http://t.co/fDJUYvZMrv @wizkidayo'],
      dtype=object)

In [18]:
# Converting string labels into numbers
keyword_encoded=le.fit_transform(df_train['keyword'])
location_encoded =le.fit_transform(df_train['location'])

In [19]:
keyword_encoded

array([221, 221, 221, ..., 221, 221, 221])

In [20]:
location_encoded

array([3341, 3341, 3341, ..., 3341, 3341, 3341])

In [22]:
features=zip(text_encoded,location_encoded, keyword_encoded)
print(features)

<zip object at 0x7fc6a80a9400>

In [ ]:
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#Create a Gaussian Classifier
model = GaussianNB()

# Train the model using the training sets
model.fit(features,y_train)

#Predict Output
predicted= model.predict([[0,2]]) # 0:Overcast, 2:Mild
print "Predicted Value:", predicted